<body>
    <div class="container logotipo">
        <div class="logotipo-text">
            <h2>Brazona</h2>
            <h1>Agile Framework</h1>
        </div>
    </div>
    <div class="container-img">
        <div class="container-img1">
            <img src="../../../assets/circulo-1.png" />
        </div>
    </div>
    <div class="container">
        <form [formGroup]="registerForm"  class="form row g-3 justify-content-evenly">
            <div class="col-md-6">
                <label class="active form-label" for="user">USER</label>
                <input [(ngModel)]="user" name="user" formControlName="user" id="user" type="text" class="validate form-control user-field" (keyup)="onChangeField()" (keydown)="onChangeField()">
                <span id="required-field-span-user" class="required-field-span btn-hidden">Requerid User</span>
            </div>
            <div class="col-md-6">
                <label class="active form-label" for="pass">PASS</label>
                <input [(ngModel)]="pass" name="pass" id="pass" formControlName="pass" type="password" class="form-control pass-field" (keyup)="onChangeField()" (keydown)="onChangeField()">
                <span id="required-field-span-pass" class="required-field-span btn-hidden">Requerid Pass</span>
            </div>
            <div class="d-grid gap-1 col-12 mx-auto">
                <button id="button-logar" type="button submit" name="action" (click)="fazerLogin()" rows="1" class="btn btn-outline-success btn-disable">LOGAR</button>
                <button id="button-load" class="btn btn-primary btn-hidden" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
            
        </form> 
    </div>
    <div class="container-img">
        <div class="container-img2">
            <img src="../../../assets/circulo-2.png" />
        </div>
    </div>
    
</body>
