<body>
    <div class="container logotipo">
        <div class="logotipo-text">
            <h2>Brazona</h2>
            <h1>Agile Framework</h1>
        </div>
    </div>
    <div class="container-img">
        <div class="container-img1">
            <img src="../../../assets/circulo-1.png" />
        </div>
    </div>
    <div class="container">
        <form class="row g-3 justify-content-evenly">
            <div class="col-md-6">
                <label class="active form-label" for="usuario">USER</label>
                <input [(ngModel)]="usuario.nome" id="usuario" type="text" class="validate form-control user-field" [ngModelOptions]="{standalone: true}" required="">
            </div>
            <div class="col-md-6">
                <label class="active form-label" for="senha">PASS</label>
                <input [(ngModel)]="usuario.senha" type="password" class="form-control pass-field" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="d-grid gap-1 col-12 mx-auto">
                <button type="button submit" name="action" (click)="fazerLogin()" rows="1" class="btn btn-outline-success">LOGAR</button>
            </div>
        </form> 
    </div>
    <div class="container-img">
        <div class="container-img2">
            <img src="../../../assets/circulo-2.png" />
        </div>
    </div>
</body>